<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
<h1>Hello!</h1>
    <br>
    <textarea id='mytextarea'></textarea>
{% endblock %}
{% block javascripts %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#mytextarea',
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
            ],
            toolbar: "image code insertfile undo redo ILeft | styleselect | bold italic | alignleft aligncenter alignright alignjustify  bullist numlist outdent indent",
            menubar: "tools",
            image_list: [
                {title: 'My image 1', value: 'http://www.tinymce.com/my1.gif'},
                {title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'}
            ],
            image_advtab: true,
            style_formats: [
                {title: 'ILeft', selector: 'img', styles: {
                    'margin': '30px'
                }},
            ],
            style_formats_merge: true,
            content_css : '/mcecustom.css'


        });
    </script>
{% endblock %}
</body>
</html>
